spring.datasource.url=jdbc:h2:mem:testdb
spring.jpa.hibernate.ddl-auto=update

spring.liquibase.enabled=true
spring.liquibase.contexts=dev

management.endpoints.web.exposure.include=health,info
management.endpoint.health.show-details=always
spring.security.user.name=<username>
spring.security.user.password=<password>
spring.security.user.roles=ADMIN

